body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.soundboard {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sound-category {
    margin-bottom: 20px;
}

.sound-category h2 {
    margin-top: 0;
}

.sound-button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.sound-button:hover {
    background-color: #3e8e41;
}